---
layout: default
title: Home
---

<div id="noticias">
  <h2>Noticias</h2>
  <ul class="related-posts">
    {% for post in site.posts %}
      <li>
        <h3>
          <a href="{{ post.url }}"> {{ post.title }} <small>{{ post.date | date_to_string | date: "%Y-%m-%d"  }}</small> </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<br>

<div id="leaflet">
<h2>Pruebas de programación en Leaflet.js</h2>
<ul class="related-posts">
{% for page in site.pages %} {% if page.category == "leaflet" %}
  <li>
  <h3>
  <a href="{{ page.url }}">{{ page.title }}</a>
  </h3>
  </li>
  {% endif %}{% endfor %}
</ul>
</div>

<!~~ Aquí también desordené los loops ~~>

<br>

<div id="redes">
  <h2>Otras redes</h2>
  <ul class="related-posts">
      <li>
<h3><li><a href="http://twitter.com/ignacioabe">twitter</a></li></h3>
<h3><li><a href="http://flickr.com/photos/ign">flickr</a></li></h3>
<h3><li><a href="http://soundcloud.com/ignacioabe">soundcloud</a></li></h3>
<h3><li><a href="https://github.com/ignacioabe">github</a></li></h3>
      </li>
  </ul>
</div>

<br>
