$colorFondo: #ffffff;
$colorGris: #777;
$colorLetra: #000000;
$fuente: 'IBM Plex Mono', monospace;

body {
  background: $colorFondo;
  color: $colorLetra;
  font-family: $fuente;
}

// .contenedor {}

.grilla {
  margin: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  position: relative;
}

.ficha-blanca {
  background: $colorFondo;
  color: $colorLetra;
  padding: 20px;
}

.ficha-blanca#sitios {
  grid-column: -2 / -1;
}

// .ficha-blanca a {
//   color: $colorLetra;
// }

.ficha-gris {
  background: $colorGris;
  color: $colorFondo;
  padding: 20px;
}

.ficha-gris a {
  color: #ffd7d7;
}

.ficha-blanca.relleno {
  grid-column-end: -1;
}

.ficha-texto {
  grid-column: 1 / -1;
  padding: 20px;
}

.rectangulo {
  height: 260px;
  background: #caa472;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}