$colorFondo: #212121;
$colorFicha: #424242;
$colorTexto: #eeeeee;
$fuente: 'IBM Plex Mono';
$fuenteTitulos: 'Space Mono', monospace;
$fuenteBase: 'Work Sans', sans-serif;

body {
  background: $colorFondo;
  color: $colorTexto;
  font-family: $fuenteBase;
}

h1, h2, h3 {
  font-family: $fuenteTitulos;
}

#página {
  display: grid;
  gap: 20px;
  width: 100%;
}

#contenedor-encabezado {
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 300px 300px;
  width: 100%;
  grid-template-areas: 
  "m .";
}

#contenedor-biografía {
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 600px;
  grid-template-rows: 100px 300px;
  grid-template-areas: 
  "m f"
  ". f";

}

.menu {
  grid-area: m;
}

.ficha {
  // grid-area: f;
  padding: 10px;
  background: $colorFicha;
  color: $colorTexto;

  a {
    color: #ffffff;
  }

  // h1 {
  //   margin-top: 0;
  // }

}

// .nombre-seccion {
//   margin-top: 0;
//   margin-bottom: 0;
// }


// colores etiquetas secciones

#título-biografía {
  background-color: #1A237E;
}

#proyectos {
  background-color: #311B92;
}

#contacto {
  background-color: #880E4F;
}

#redes {
  background-color: #B71C1C;
}

.menu p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ancho-completo {
  grid-column: 1 / -1;
  // padding: 20px;
}

.rectangulo {
  height: 280px;
  background: #caa472;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}