$colorFondo: #212121;
$colorTarjeta: #424242;
$colorTexto: #eeeeee;
$fuente: 'IBM Plex Mono';
$fuenteTitulos: 'Space Mono',
monospace;
$fuenteBase: 'Work Sans',
sans-serif;

// todo el sitio

body {
  background: $colorFondo;
  color: $colorTexto;
  font-family: $fuenteBase;
}

h1,
h2,
h3 {
  font-family: $fuenteTitulos;
}

div {
}

img {
  height: 100%;
  width: 100%;
  // object-fit: cover;
}

a {
  color: #ffea75;
  // color: $colorTexto;
  // text-decoration-color: yellow;
  // text-decoration: none;
}

a:hover {
  background-color: rgba($color: #ffea75, $alpha: 0.15);
}

.grilla {
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 280px);
  @media (max-width:500px) {
    grid-template-columns: repeat(auto-fit, 90vw);
    // background-color: yellowgreen;
  }
  // grid-template-columns: repeat(auto-fit, minmax(300px, 0.75fr));
  grid-gap: 20px;
}

.nombre-sección h2 {
  margin-top: 0;
}

.tarjeta {
  padding: 10px;
  color: $colorTexto;
  // border: 2px solid white
}

//esto está raro
.título-sección {
  grid-column-start: 1;
  // color:red
}

.título-sección+.galeria {
  grid-column-start: 1;

}
.título-sección+.proyecto {
  grid-column-start: 1;
}

.proyecto {
  background: $colorTarjeta;
}

.vacío {
  background-color: $colorFondo;
}

.celda-izquierda {
  grid-column-start: 1;
}

.galería {
  // box-sizing: border-box;
  // justify-content: left;
  background-color: $colorTarjeta;
  padding: 10px;
}

.flex-contenedor {
  display: flex;
  height: 90vh;
  background-color: $colorTarjeta;
  padding: 10px;
  overflow-x: scroll;
}

.flex-contenedor img {
  width: auto;
  margin-right: 15px;
}

// colores etiquetas secciones

#biografía {
  background-color: $colorFondo;
}

#proyectos {
  // background-color: #311B92;
  grid-column-start: 1;
}

// #proyectos+.proyecto {
//   grid-column-start: 1;
// }

#contacto {
  grid-column-start: 1;
  // background-color: #880E4F;
}

#redes {
  // grid-column-start: 1;
  // background-color: #B71C1C;
}

.rectangulo {
  height: 280px;
  background: #bb42b3;
}

.rectangulo img {
  object-fit: cover;
}

// proyecto


// .ficha {
//   grid-column-start: 1;
// }

.ancho-completo {
  // padding: 10px;
  grid-column: 1 / -1;
}

.ancho-medio {
  grid-column: 1 / -2;
}

.en {
  font-style: italic;
}