---
layout: default
---

<div class="grilla">

  <!-- ficha menu principal
  <div class="vacío">
    <div id="menu" class="ficha">  
      <h1><a href="ignacioabe.cl">Ignacio Abé</a></h1>
    </div>
  </div> -->

  <!-- biografía -->
  <div id="biografía" class="tarjeta">
    <div class="rectangulo">
      <img src="assets/img/carnet.jpg" alt="">
    </div>
    <h1 class="nombre-sección">Hola!</h1>
    <p>Soy Ignacio Abé, arquitecto y master en urbanismo, especializado en movilidad sostenible e información
      geográfica.
      Este es mi portafolio.</p>
    <p>**completar!**</p>
  </div>

  <!-- proyectos -->
  <div id="proyectos" class="tarjeta">
    <h2 class="nombre-sección">proyectos: 📐</h2>
    <p>Breve texto sobre el tipo de proyectos que he realizado</p>
  </div>


  <!-- bucle proyectos -->
  {% assign proyectos = site.proyectos | sort: 'agno' | reverse %}
  {% for proyecto in proyectos %}
  <div class="tarjeta proyecto">
    <div class="rectangulo">
      <img src="{{ proyecto.foto }}" alt="">
    </div>
    <h3><a href="{{ proyecto.url }}">{{ proyecto.nombre }}</a></h3>
    <p>{{ proyecto.texto-corto-es }}</p>
  </div>
  {% endfor %}

  <!-- contacto -->
  <div id="contacto" class="tarjeta">
    <h2 class="nombre-sección">contacto: ✉️</h2>
    <p>tel: +39 3313117722</p>
    <p>correo: ignacio.abe@gmail.com</p>
    <p> dir: Venecia, Italia</p>
  </div>

  <!-- redes -->
  <div id="redes" class="tarjeta">
    <h2 class="nombre-sección">redes: 🔗</h2>
    <p><a href="https://instagram.com/ignacioabe/" target="_blank">instagram</a></p>
    <p><a href="https://github.com/ignacioabe/" target="_blank">github</a></p>
    <p><a href="https://twitter.com/ignacioabe" target="_blank">twitter</a></p>
    <p>otros</p>
  </div>