---
layout: default
---

<div class="contenedor">
  <div class="grilla">

    <!-- micro menu -->
    <div class="ficha" id="menu">
      <h1>ignacioabe.cl</h1>
      <p>proyectos</p>
      <p>contacto</p>
      <p>etc</p>
      <p>~~~</p>
    </div>

    <!-- presentación -->
    <div class="ficha" id="encabezado">
      <div class="rectangulo">
        <img src="/assets/img/carnet.jpg" alt="">
      </div>
      <h1>hola!</h1>
      <p>soy Ignacio Abé, arquitecto especializado en movilidad sostenible e información geográfica.
        Este es mi portafolio.</p>
    </div>

    <div class="ficha just-derecha">
      <!-- <h1>PROYECTOS -></h1> -->
    </div>
    <!-- relleno -->
    <!-- <div class="ficha just-derecha"></div> -->

    <!-- ficha tipo -->
    {% for proyecto in site.proyectos %}
    <div class="ficha fondo-gris">
      <div class="rectangulo">
        <img src="{{ proyecto.foto }}" alt="">
      </div>
      <h3><a href="{{ proyecto.url }}">{{ proyecto.nombre }}</a></h3>
      <p>{{ proyecto.resumen }}</p>
    </div>
    {% endfor %}

    <div class="ficha just-derecha">
      <!-- <h1>>>></h1> -->
    </div>


    <div class="ficha">
      <h1>redes:</h1>
      <p><a href="https://instagram.com/ignacioabe/" target="_blank">instagram</a></p>
      <p><a href="https://github.com/ignacioabe/" target="_blank">github</a></p>
      <p><a href="https://twitter.com/ignacioabe" target="_blank">twitter</a></p>
      <p>otros</p>
    </div>
  </div>
</div>