---
layout: default
---

<div class="grilla">

  <div id="titulo-sitio" class="celda-izquierda">
    <h1><a href="/">Ignacio Abé</a></h1>
  </div>

  <div>
    <h2>BLOG</h2>
  </div>

  <header class="post-header">
    <h3 class="post-title" itemprop="name headline">{{ page.title | escape }}</h3>
    <h3 class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author}}
        </span></span>
      {% endif %}
    </h3>
  </header>

  <div class="post-content celda-izquierda ancho-completo" itemprop="articleBody">
    {{ content }}
  </div>