---
layout: default
---

<div class="grilla">
  <div class="tarjeta">
    <h2><a href="/">Ignacio Abé</a></h2>
  </div>

  <div class="tarjeta ficha">
    <h3 class="post-title" itemprop="name headline">{{ page.nombre | escape }}</h3>
    <p>cliente: {{ page.cliente }}</p>
    <p>año: {{ page.agno }}</p>
    <p><a href="{{ page.url}}">SITIO WEB</a></p>
  </div>
  <div class="ancho-completo">
    <div class="fotoportada">
      <img src="{{page.foto}}" alt="">
    </div>
    {{ content }}
  </div>
</div>


</div>
</article>